# Decison Trees

In [1]:
import pandas as pd

In [2]:
#Let's load data from csv file using pandas
data = pd.read_csv('PastHires.csv',header=0)
data.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

scikit-learn needs everything to be numerical for decision trees to work. So, we'll map Y,N to 1,0 and levels of education to some scale of 0-2.

In [3]:
d = {'N':0,'Y':1}
data['Employed?'] = data['Employed?'].map(d)
data['Top-tier school'] = data['Top-tier school'].map(d)
data['Interned'] = data['Interned'].map(d)
data['Hired'] = data['Hired'].map(d)
d = {'BS':0,'MS':1,'PhD':2}
data['Level of Education'] = data['Level of Education'].map(d)
data.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

Next we need to separate the features from the target column that we're trying to bulid a decision tree for.

In [4]:
features = data.columns[:6]
X = data[features]
y = data['Hired']

In [5]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1)
dtc.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [6]:
print(dtc.predict([[10,1,4,0,0,0]]))
print(dtc.predict([[10,0,4,0,0,0]]))

[1]
[0]

Random Forest is a ensemble learning trick which build multiple tree to predict values and every tree vote on final prediction.

In [7]:
from sklearn.ensemble import RandomForestClassifier
rtc = RandomForestClassifier(n_estimators=10)#Built a forest with 10 trees
rtc.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [8]:
print(dtc.predict([[10,1,4,0,0,0]]))
print(dtc.predict([[10,0,4,0,0,0]]))

[1]
[0]